 #signup {
  padding: 30px
}
#login {
  padding: 30px
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 0px;
}



  .navbar {
      margin-bottom: 0;
  }

body {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #545151;
  padding: 50px 75px 100px 100px;
  font-family: 'Shadows Into Light', cursive;
}
