<div class="modal fade bd-bus-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="text-align:center" id="exampleModalLabel">Business Log In</h3>
      </div>
        <div class="form-group">
          <div id='login' style="text-align:center">

              <%=form_tag business_login_path do %>
              <div>Business Email: <%=text_field_tag :email, nil, {class: "form-control"} %></div>
              <div>Password: <%=password_field_tag :password, nil, {class: "form-control"} %></div>
              <br />
              <div><%=submit_tag "Log In", {class: "form-control"} %></div>
            <%end%>
          </div>
      </div>
      <div class="modal-footer">
        <span style="text-align: center">
          <h4><a href='#' data-dismiss="modal"  data-toggle="modal" data-target=".bd-login-modal-sm">Log In as Member</a></h4>
        </span>
      </div>
    </div>
  </div>
</div>
