<h4>Please Make a Profile Below:</h4>
<% if @member.errors.any? %>
<div id='profile-errors'>
  <%@member.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
</div>
<%end %>

<%= render partial: 'member' %>
